* {
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #F8EDE3;
    background-color:rgb(250, 213, 169) ;
}
.head{
    display: inline-block;
    
    width:100vw;
    margin-top: 1vw;
}
#name{
    display:inline;
    margin-left: 10vw;
    font-size: 80px;
    /* color: #737373; */
    color:#4d4350;
    font-family: cursive;
    
}
.headbutton{
    /* display:inline; */
    position:relative;
    left:40vw;
    margin-left: 0.05vw;
    display: inline-block;
  
}
.headset{
    display:inline-block;
    margin-left: 85vw;
}
.head_buttG{
    display:inline;
    left:50vw;
}
.headbutt_css{
    
    background-color: antiquewhite;
    background-color: #D0B8A8;
    color: #3a383b;
    height:3vw;
    width:8vw;
    font-size: 17px;
    border-radius: 20px;
    
}
.headbutt_css:hover{
    background-color:#4d4350;
    color:antiquewhite;
}
.body{
   
    display: inline-block;
}

.content{
    padding-top: 5vw;
    margin-left: 5vw;
    font-size: 25px;
    color:#4d4350;
    font-family: cursive;
    
}
#left{
    margin-bottom: 10vw;
    font-family: cursive;
    
}
#right{
    padding-left: 20vw;
    padding-top: 8vw;
}
.getbutton{
    margin-left: 12vw;
    margin-top: 2vw;
    
}
.getbut{
    padding-top: 10px;
}
.button_css{
    
    
    background-color: antiquewhite;
    background-color: #D0B8A8;
    color: #3a383b;
    height: 4vw;
    width: 20vw;
    border-radius: 25px;
    font-size: 22px;

}
.button_css:hover{
    background-color: #4d4350;
    color: antiquewhite;

}
.image{
    box-shadow: 5px 5px 15px #4d4350;
    border-radius: 25px;
}
