body {
    /* background-color: #FBAB7E; */
    /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */

    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% ); */
    /* background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
                */
    background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);

}

table {
    display: flexbox;
    background-color: aliceblue;
    /* border: 1px solid ; */
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160pt;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    /* margin:auto; */
    /* margin-top: auto;
            margin-bottom: auto; */




}


th {
    font-size: 25px;
    font-family: cursive;
    margin-left: 50%;
    font-weight: lighter;
    text-shadow: 2px 2px 5px rgb(19, 18, 18);

}

.text {
    width: 250px;
    height: 25px;
    border-radius: 10px;


}

.text:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

label {
    font-weight: bold;
    font-size: 16px;
}

/* #form1{
            align-items:center;
            padding-left: 60px;
            padding-right: 30px;
        } */
#submit {
    width: 140px;
    transition-delay: 0s;
    align-self: center;

}

#submit:hover {
    background-color: black;
    color: antiquewhite;

}

.submit1 {
    padding-left: 130px;
}

.element1 {
    padding-left: 60px;

}